<?xml version="1.0" encoding="UTF-8"?>
<!-- PHPUnit configuration for local_gradefiller. -->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
    stopOnError="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="local_gradefiller">
            <directory>tests</directory>
            <exclude>tests/behat</exclude>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">classes</directory>
            <file>lib.php</file>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
        </exclude>
        <report>
            <clover outputFile="coverage.xml"/>
            <html outputDirectory="coverage-html"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>

    <php>
        <const name="PHPUNIT_LONGTEST" value="0"/>
    </php>
</phpunit>
